* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

body {
    background-color: black;
}

/* ---------------------------------------- FLEX DECLARATION ---------------------------------------- */
nav,
.nav-right,
.hero,
.hero-input,
.feature-card,
.faq,
.que-title {
    display: flex;
    align-items: center;
}

nav,
.feature-card,
.foot-container,
.faq {
    padding: 0 3rem;
    max-width: calc(80% - 3rem);
}

/* -------------------------------------------------------------------------------------------------- */

input[type="search"]::-webkit-search-cancel-button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-progress-appearance: none;
    border: none;
    cursor: pointer;
}

.btn {
    padding: 8px 15px;
    border-radius: 3px;
    background-color: red;
}

.main {
    position: relative;
    background: url(../app/assets/imgs/bg.jpg) center/cover no-repeat;
    background-size: max(1000, 100vw);
    width: 100%;
    height: 700px;
}

/* -------------------------------------------------------------------------- */

nav {
    position: relative;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    height: 90px;
    gap: 20px;
    z-index: 10;
}

.logo img {
    width: 150px;
}

.nav-right {
    gap: 20px;
}

.nav-right>button {
    font-size: 1rem;
    padding: 5px 15px;
    border-radius: 3px;
}

.lang-select,
#inp-email {
    border: 1px solid grey;
    background-color: rgba(36, 36, 36, 0.404);
}

.lang-select {
    font-size: 1rem;
    padding: 5px 15px;
    border-radius: 3px;
}

/* -------------------------------------------------------------------------- */

.main .box {
    position: absolute;
    top: 0;
    height: inherit;
    width: 100%;
    background: radial-gradient(rgba(0, 0, 0, 0.377), rgb(0, 0, 0, 1));
    /* pointer-events: none; */
}

/* -------------------------------------------------------------------------- */

.hero {
    position: relative;
    height: calc(100% - 90px);
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 0 30px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 800;
    line-height: 48px;
    text-align: center;
}

.hero h2 {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.hero p {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

.hero-input {
    justify-content: center;
    gap: 0.5rem;
}

#inp-email {
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 3px;
    padding: 1rem;
}

#inp-email::placeholder {
    color: rgb(173, 173, 173);
}

.hero-input .btn {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.75rem 1.5rem;
}

/* -------------------------------------------------------------------------- */

.separation {
    height: 8px;
    width: 100%;
    background-color: rgb(37, 37, 37);
}

/* -------------------------------------------------------------------------- */

.feature-card {
    flex-direction: row;
    justify-content: center;
    padding: 60px 3rem;
    margin: auto;
}

.second,
.fourth {
    flex-direction: row-reverse;
}

.feature-card div:nth-child(1) {
    padding-right: 5px;
}

.feature-card div:nth-child(2) {
    padding-left: 5px;
}

/* -------------------------------------------------------------------------- */

.card-des,
.card-video {
    flex-basis: 50%;
}

.card-des h1 {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 1.5rem;
}

.card-des p {
    font-size: 1.5rem;
    font-weight: 400;
}

.card-video {
    position: relative;
}

.card-video video {
    position: absolute;
    height: 55%;
    top: 20%;
    left: 13%;
    z-index: -3;
}

.third .card-video video {
    height: 46%;
    top: 10%;
    left: 19%;
}

.card-video img {
    width: 100%;
}

/* -------------------------------------------------------------------------- */

.faq {
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 60px 3rem;
    gap: 10px;
}

.faq h1 {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 10px;
}

.faq>p {
    margin: 30px 0 10px 0;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
}

.que-capsule {
    width: 100%;
    background-color: rgb(44, 44, 44);
}

.que-title,
.que-ans {
    padding: 1.5rem;
    font-size: 1.5rem;
    font-weight: 400;
}

.que-title {
    width: 100%;
    background-color: inherit;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.bx-plus {
    font-size: 2.5rem;
    transition: all .3s;
}

.focused {
    transform: rotate(45deg);
}

.que-ans {
    display: none;
}

/* -------------------------------------------------------------------------- */

.foot-container {
    margin: 4.5rem auto;
    font-weight: 300;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 15px;
}

.foot-tele,
.foot-lang,
.foot-region {
    grid-column: 1 / 5;
}

.foot-tele p {
    margin-bottom: .5rem;
}

.foot-lang button,
.foot-region p {
    margin-top: .5rem;
}

@media screen and (min-width: 1920px) {

    nav,
    .feature-card,
    .faq,
    .foot-container {
        max-width: calc(66% - 6rem);
        padding: 0 3rem;
    }

    .feature-card {
        padding: 60px 3rem;
    }
}

@media screen and (max-width: 1280px) {

    nav,
    .feature-card,
    .faq,
    .foot-container {
        max-width: calc(100% - 4rem);
        padding: 0 2rem;
    }

    .feature-card {
        padding: 60px 2rem;
    }
}

@media screen and (max-width: 960px) {
    .logo img {
        width: 100px;
    }

    .nav-right {
        gap: 10px;
    }

    .main {
        height: 500px;
    }

    .hero h1 {
        font-size: 32px;
        font-weight: 700;
        line-height: 32px;
        text-align: center;
    }

    .hero h2 {
        font-size: 18px;
        font-weight: 400;
        line-height: 18px;
        text-align: center;
    }

    .hero p {
        font-size: 18px;
        font-weight: 400;
        line-height: 18px;
        text-align: center;
    }

    .feature-card {
        flex-direction: column;
        gap: 1rem;
    }

    .feature-card div:nth-child(1) {
        padding-right: 0;
    }

    .feature-card div:nth-child(2) {
        padding-left: 0;
    }

    .card-des h1 {
        font-size: 2.2rem;
        margin-bottom: 1rem;
        font-weight: 700;
        text-align: center;
    }

    .card-des p {
        font-size: 1.125rem;
        text-align: center;
    }

    .faq h1 {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 10px;
    }

    .faq>p {
        font-size: 1.125rem;
    }

    .que-title,
    .que-ans {
        padding: 1.125rem;
        font-size: 1.125rem;
    }

    .bx-plus {
        font-size: 2rem;
    }

    .grid {
        grid-template-columns: 1fr 1fr;
    }

    .foot-container {
        max-width: 95%;
        padding: 0 2rem;
        margin: 2rem 0;
    }

    .foot-tele,
    .foot-lang,
    .foot-region {
        grid-column: 1 / 3;
    }
}

@media screen and (max-width: 600px) {
    .hero-input {
        flex-direction: column;
    }
}